# Streamlit Secrets – šablóna
# Skopíruj tento súbor ako .streamlit/secrets.toml a doplň skutočné hodnoty.
# secrets.toml NIKDY nepridávaj do git repozitára!

DODAVKY_SHEET_ID   = "1MB041dTwz-zfGg6u3wM1XpmrS_ynDe1J"

PREVADZKA_2_SHEET_ID = "1FXmRJwlRr6N2u_aZzuzjnn0HHgNEBTem64B1phXl_NM"
PREVADZKA_3_SHEET_ID = "1YSYltBW8uw3whOxNr3w8KLgvMkE-vqAV1cCeIn8Ymp0"
PREVADZKA_4_SHEET_ID = "1E2gxstdMVwj5X__5qrPuRJgkV5GtqLK6BtmmCc3GE00"
